*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background-color: antiquewhite;

}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card {
   width: 300px;
   background-color: #f0f0f0;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: inset; 
   margin: 30px;
}
.card-text{
    padding: 20px;
}
.card-text h2{
    font-size: 28px;
}

